---
layout: default
---
<h3>This week's spotlights:</h3>
{% include spotlight.html spotlights=site.data.spotlights %}
<input type="text" id="search" placeholder="Search..." oninput="for(var i = 0;i < document.getElementsByClassName('post').length;i++){document.getElementsByClassName('post')[i].style.display='none';if(document.getElementsByClassName('post')[i].innerHTML.indexOf(this.value) > -1){document.getElementsByClassName('post')[i].style.display='block'}}">
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
  <p>For older posts, see <a href="http://kyleploblog.weebly.com">my old blog</a></p>
</div>
