<div style="position:absolute;top:100px;right:20px" hidden id="ad">
<b style="font-size:small">ADVERTISEMENT</b><br>
<a id="link" rel="nofollow" href="about:blank" target="blank">
<img width="100" height="400" id="img">
</a>
</div>
<script>
// {link: "https://...", img: "ad.png", type: "...", owner: "..."}
// types: scratch - scratch followed, github - github followed, person - meet in person with money, self - advertise on my own site
var ads = [
{link: "https://kyleplo.github.io/advertise/", img: "advertiseonmysite.png", type: "self", owner: "kyleplo"},
{link: "https://kyleplo.github.io/advertise/user-ads/download-virus#site-ad", img: "virus.png", type: "self", owner: "kyleplo"},
{link: "https://scratch.mit.edu/users/blackswan2428", img: "blackswan2428.png", type: "scratch", owner: "blackswan2428"},
{link: "https://scratch.mit.edu/users/blayde55", img: "blayde55.gif", type: "scratch", owner: "blayde55"}
];
window.addEventListener("load",function (){
if(!localStorage.adfree){localStorage.adfree = 6};
localStorage.adfree = parseFloat(localStorage.adfree) - 1;
if(location.pathname.length > 1 && (parseFloat(localStorage.adfree) < 1)){
var random = (Math.floor(Math.random() * (ads.length + 2))) - 2;
if(random > -1){
document.getElementById("link").href = ads[random].link;
document.getElementById("img").src = "/advertise/user-ads/" + ads[random].img;
document.getElementById("ad").removeAttribute("hidden");
document.getElementById("ad").addEventListener("click",function (){localStorage.adfree = "10"});
}}})
</script>
